.todo-list-layout {
  width: 320px;
  min-height: 480px;
  background-color: lightcyan;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
  border-radius: 5%;
}

.entry-form {
  display: flex;
  border-bottom: solid 1px gray;
}

.input {
  text-align: center;
}

.text-box {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  background-color: lightcyan;
}
.add-button {
  margin-top: 30px;
  margin-left: 5px;
  font-size: 20px;
  cursor: pointer;
}

.todo-list {
  text-align: center;
  min-height: 300px;
  margin-top: 20px;
}

.todo {
  display: flex;
  text-align: center;
  border: 2px solid gray;
  max-width: 280px;
  margin: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

.todo-text {
  max-width: 220px;
  overflow-wrap: break-word;
  text-align: left;
}

.delete {
  position: absolute;
  left: 280px;
  cursor: pointer;
}

.footer-area {
  position: relative;
  height: max-content;
  margin-bottom: 10px;
  border-top: solid 2px gray;
}

.filter-tools {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
}
.filter-text {
  border: none;
  outline: none;
}

.filter-button {
  margin-left: 10px;
  cursor: pointer;
}
